.account-page {
  margin: 60px 0;
}

.auth-buttons {
  display: flex;
  justify-content: center; /* Butonları ortala */
  margin-bottom: 30px;
  gap: 10px;
}

.auth-button {
  background-color: transparent;
  border: 2px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
  min-width: 120px;
  border-radius: 5px;
}

.auth-button:hover:not(.active) {
  border-color: #000;
  color: #000;
}

/* Aktif Sekme Stili */
.auth-button.active {
  background-color: black;
  color: white;
  border-color: black;
}

.account-wrapper {
  max-width: 450px; /* Form genişliğini sınırlama */
  margin: 0 auto; /* Ortala */
  padding: 20px;
}

.account-column {
  width: 100%;
}

.account-column h2 {
  font-size: 20px;
  font-weight: 500;
}

.account-column form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 10px;
}

.account-column form div label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  row-gap: 5px;
}

.account-column form .login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
}

.account-column form .required {
  color: red;
  font-weight: bold;
}

.account-column form .login button {
  display: flex;
  justify-content: center;
  width: 35%;
  background-color: black;
  border-radius: 25px;
  color: white;
  border-color: white;
  margin-top: 10px;
}
.account-column form .login button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.account-column form .form-link {
  color: black;
  font-size: 14px;
  text-decoration: underline;
  transition: 0.2s ease;
}
.account-column form .form-link:hover {
  transform: scale(1.01);
}
