.account-page {
  margin: 60px 0;
}

.account-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.account-column {
  flex: 1;
}

.account-column h2 {
  font-size: 20px;
  font-weight: 500;
}

.account-column form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 10px;
}

.account-column form div label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  row-gap: 5px;
}

.account-column form .login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
}

.account-column form .required {
  color: red;
  font-weight: bold;
}

.account-column form .login button {
  display: flex;
  justify-content: center;
  width: 35%;
  background-color: black;
  border-radius: 25px;
  color: white;
  border-color: white;
  margin-top: 10px;
}
.account-column form .login button:hover {
  background-color: rgba(0, 0, 0, 0.800);
}

.account-column form .form-link {
  color: black;
  font-size: 14px;
  text-decoration: underline;
  transition: 0.2s ease ;
}
.account-column form .form-link:hover{
  transform: scale(1.01);
}

/* responsive */
@media (max-width: 768px) {
  .account-wrapper {
    flex-direction: column;
  }
}