@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body {
  overflow-x: hidden;
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

h1,h2,h3,h4,h5,h6,p{
    margin:0;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.logo img {
  height: 70px;
  width: auto;
  object-fit: contain;
  display: flex;
}

button{
    line-height: 40px;
    cursor: pointer;
    border: none;
}
button:disabled {
  opacity: 0.4 !important;
  cursor: no-drop;
}
.btn{
    display: inline-block;
    padding: 0 25px;
    line-height: 40px;
    font-weight: 500;
    border: 1px solid black;
    transition: 0.2s ease all;
}
.btn-sm{
    line-height: 33px;
}
.btn-lg{
    line-height: 45px;
}
.btn-dark{
    background-color: black;
    color: whitesmoke;
    border: 1px solid black;
}
.btn-dark:hover{
    background-color: whitesmoke;
    color: black;
    border: 1px solid black;
}
textarea {
  overflow: auto;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"]{
    outline: none;
    border-color:  1px solid whitesmoke;
    padding: 8px 8px 8px 15px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus{
    border: 1.6px solid gray;
}
input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}
.img-fluid {
  width: 100%;
}
@media (max-width: 1200px){
    .container{
        max-width: 992px;
    }
}
@media (max-width: 992px){
    .container{
        max-width: 768px;
    }
}
@media (max-width: 768px){
    .container{
        max-width: 576px;
    }
}
@media (max-width: 576px){
    .container{
        max-width: 400px;
    }
}
@media (max-width: 420px){
    .container{
        max-width: 350px;
    }
}

/* react-slick-css */

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.address-radio-hover:hover {
  border-color: black !important;
}

/* Ant Design Overrides */
.ant-input:hover,
.ant-input:focus,
.ant-input-focused {
  border-color: black !important;
  box-shadow: none !important;
}

.ant-btn-primary {
  background-color: black !important;
  border-color: black !important;
}

.ant-btn-primary:hover {
  background-color: #333 !important; /* Slightly lighter black/gray */
  border-color: #333 !important;
}

.ant-radio-wrapper-checked .ant-radio-inner {
  border-color: black !important;
  background-color: black !important;
}

.ant-radio-wrapper:hover .ant-radio-inner {
  border-color: black !important;
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: white !important;
}

/* Remove blue halo shadow from inputs */
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused,
.ant-input-affix-wrapper:hover {
    border-color: black !important;
    box-shadow: none !important;
}

/* Admin Utility Buttons */
.admin-edit-btn {
    background-color: transparent !important;
    border: 1px solid black !important;
    color: black !important;
    font-weight: 500 !important;
    transition: all 0.3s ease !important;
}

.admin-edit-btn:hover {
    background-color: black !important;
    color: white !important;
    border-color: black !important;
}

.admin-delete-btn {
    background-color: transparent !important;
    border: 1px solid darkred !important;
    color: darkred !important;
    font-weight: 500 !important;
    transition: all 0.3s ease !important;
}

.admin-delete-btn:hover {
    background-color: darkred !important;
    color: white !important;
    border-color: darkred !important;
}

/* Ant Design Select Overrides */
.ant-select-selector {
    border-color: #d9d9d9;
}

/* Hover state for the selector */
.ant-select-selector:hover,
.ant-select:hover .ant-select-selector {
    border-color: black !important;
}

/* Focus/Active state */
.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
    border-color: black !important;
    box-shadow: none !important;
}

/* Dropdown Selected Item */
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: #e6e6e6 !important;
    color: black !important;
    font-weight: 600;
}

/* Dropdown Hover/Active Item */
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: #f5f5f5 !important;
    color: black !important;
}