@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body {
  overflow-x: hidden;
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

h1,h2,h3,h4,h5,h6,p{
    margin:0;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.logo img {
  height: 70px;
  width: auto;
  object-fit: contain;
  display: flex;
}

button{
    line-height: 40px;
    cursor: pointer;
    border: none;
}
button:disabled {
  opacity: 0.4 !important;
  cursor: no-drop;
}
.btn{
    display: inline-block;
    padding: 0 25px;
    line-height: 40px;
    font-weight: 500;
    border: 1px solid black;
    transition: 0.2s ease all;
}
.btn-sm{
    line-height: 33px;
}
.btn-lg{
    line-height: 45px;
}
.btn-dark{
    background-color: black;
    color: whitesmoke;
    border: 1px solid black;
}
.btn-dark:hover{
    background-color: whitesmoke;
    color: black;
    border: 1px solid black;
}
textarea {
  overflow: auto;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"]{
    outline: none;
    border-color:  1px solid whitesmoke;
    padding: 8px 8px 8px 15px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus{
    border: 1.6px solid gray;
}
input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}
.img-fluid {
  width: 100%;
}
@media (max-width: 1200px){
    .container{
        max-width: 992px;
    }
}
@media (max-width: 992px){
    .container{
        max-width: 768px;
    }
}
@media (max-width: 768px){
    .container{
        max-width: 576px;
    }
}
@media (max-width: 576px){
    .container{
        max-width: 400px;
    }
}
@media (max-width: 420px){
    .container{
        max-width: 350px;
    }
}
