@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

h1,h2,h3,h4,h5,h6,p{
    margin:0;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}