.categories {
    margin: 40px 0;
}

.categories-carousel {
    margin: 0 40px; /* Add margin to make space for buttons */
}

.carousel-button {
    position: absolute;
    top: 55%; /* Centered vertically relative to content below title roughly */
    transform: translateY(-50%);
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border: none;
    background-color: white;
}

.carousel-button:hover {
    color: white !important;
    background-color: #000 !important;
    border-color: #000 !important;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}
