.categories .category-item {
    background-color: #f5f5f5;
    border-radius: 4px;
    width: 100%; 
    height: 300px; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}


.categories .category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.categories .category-list .category-item {
    flex: 0 0 calc(25% - 22.5px); 
    width: calc(25% - 22.5px);
}

@media (max-width: 992px) {
    .categories .category-list .category-item {
        flex: 0 0 calc(33.33% - 20px);
        width: calc(33.33% - 20px);
    }
}

@media (max-width: 768px) {
    .categories .category-list .category-item {
        flex: 0 0 calc(50% - 15px);
        width: calc(50% - 15px);
    }
}

@media (max-width: 576px) {
    .categories .category-list .category-item {
        flex: 0 0 100%;
        width: 100%;
    }
}

.categories .category-item .category-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.categories .category-item .category-image {
    width: 100%;
    height: 80%; 
    object-fit: cover; 
    padding: 10px; 
    transition: transform ease .3s; 
}

.categories .category-item:hover .category-image {
    transform: scale(1.1);
}

.categories .category-item .category-title {
    height: 20%; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0 10px;
    background-color: #f5f5f5; 
    z-index: 1; 
    position: relative;
}

