.cart-form table .product-thumbnail {
  width: 90px;
}

.cart-form table .product-name {
  width: auto; 
  min-width: 150px;
}

.cart-form table .product-color, 
.cart-form table .product-size {
  width: 80px;
  text-align: center; 
}
.cart-form table th.product-color,
.cart-form table th.product-size {
    text-align: center;
}

.cart-form table td:nth-child(3), 
.cart-form table td:nth-child(4)  
{
    text-align: center;
}

.cart-form table .product-price {
  width: 120px;
}

.cart-form table .product-quantity {
    width: 150px;
}

.cart-form table .product-subtotal {
    width: 120px;
}
