.slider .slider-item .slider-image img {
  width: 100%;
}
.slider {
  position: relative;
}

.slider .slider-item {
  position: relative;
  height: calc(100vh - 141px);
  display: flex;
  align-items: center;
}

.slider .slider-item .slider-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.slider .slider-item a {
  position: relative;
  z-index: 1;
}

.slider .slider-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.slider .slider-buttons button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid whitesmoke;
  background-color: white;
  opacity: 0.5;
  transition: 0.2s ease all;
}

.slider .slider-buttons button:hover {
  background-color: black;
  opacity: 1;
  color: white;
  border-color: black;
}

.slider .slider-buttons button i {
  font-size: 20px;
}

.slider .slider-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
}

.slider .slider-dots .slider-dot {
  border: none;
  display: flex;
  opacity: 0.4;
  transition: 0.2s ease opacity;
}

.slider .slider-dots .slider-dot:hover {
  opacity: 1;
  width: 12px; 
  height: 12px;
}

.slider .slider-dots .slider-dot span {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: black;
}

.slider .slider-dots .slider-dot.active {
  opacity: 1;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .slider .slider-buttons {
    display: none !important;
  }
  .slider .slider-item {
    height: auto !important;
  }
  .slider .slider-item .slider-image img {
    position: relative !important;
    height: auto !important;
  }
}
