.blogs {
    margin-bottom: 50px;
}

.blogs-carousel {
    margin: 0 40px;
}

.carousel-button {
    position: absolute;
    top: 55%; 
    transform: translateY(-50%);
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border: none;
    background-color: white;
}

.carousel-button:hover {
    color: white !important;
    background-color: #000 !important;
    border-color: #000 !important;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}
  
  .blogs .blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  @media (max-width: 992px) {
    .blogs .blog-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    .blogs .blog-list {
      grid-template-columns: 1fr;
    }
  }